.explore_container {
  margin: 10%;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 100px 100px;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  justify-items: center;

  align-content: space-around;

  grid-template-areas:
    "addressWide addressWide"
    "balance balance";
}

.addressWide {
  width: 480px;
  grid-area: addressWide;
}

.balance {
  justify-self: center;
  grid-area: balance;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
