html,
body {
  min-height: 100%;
}
body {
  font: 16px sans-serif;
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Login {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.inputField {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.button-custom {
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  border: 0;
  border-radius: 3px;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
  color: white;
  height: 48;
  padding: 0 30px;
}

.header {
  display: inline-flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 65px;
  background-color: #121212;
  border-bottom: 2px solid #ffd400e0;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.errorMsg {
  color: #bf1650;
}

.errorMsg::before {
  display: inline;
  content: "⚠ ";
}

.successMsg {
  color: #16bf2d;
}

.successMsg::before {
  display: inline;
  content: "✅ ";
}

.inputTkn {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.labelTkn {
  line-height: 1;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}