html,
body {
  min-height: 100%;
}
body {
  font: 16px sans-serif;
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Login {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.inputField {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.button-custom {
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  border: 0;
  border-radius: 3px;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
  color: white;
  height: 48;
  padding: 0 30px;
}

/*EXPLORE*/
/*https://grid.layoutit.com/*/
.explore_container {
  margin: 10%;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 100px 100px;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  justify-items: center;

  align-content: space-around;

  grid-template-areas:
    "addressWide addressWide"
    "balance balance";
}

.addressWide {
  width: 480px;
  grid-area: addressWide;
}

/*MODAL_TRANFER*/

.container {
  display: inline-grid;
  grid-template-columns: 400px 60px;
  grid-template-rows: 70px 50px 120px 90px 36px 50px;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 10px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: space-around;
  grid-template-areas:
    "Transfer B"
    "balance ."
    "address address"
    "balanceToSend balanceToSend"
    "msg msg"
    "SumbmitButton SumbmitButton";

  width: 490px;
  height: auto;

  position: absolute;
  top: 50%;
  left: 50%;

  max-width: 500px;
  margin: 0 auto;
  margin: 0 auto;
  border-radius: 10px;

  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  color: aliceblue;
  background: #121212;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  border-radius: 10px;
}

.Transfer {
  justify-self: center;
  align-self: end;
  grid-area: Transfer;
}

.B {
  justify-self: center;
  align-self: end;
  grid-area: B;
}

.balance {
  justify-self: center;
  grid-area: balance;

  background: #121212;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;

  color: aliceblue;
  font-family: cursive;
}

.address {
  min-width: 380px;
  justify-self: center;
  grid-area: address;
}

.balanceToSend {
  justify-self: center;
  grid-area: balanceToSend;
}

.SumbmitButton {
  justify-self: end;
  grid-area: SumbmitButton;
}

.msg {
  justify-self: center;
  grid-area: msg;
}

.header {
  display: inline-flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 65px;
  background-color: #121212;
  border-bottom: 2px solid #ffd400e0;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.errorMsg {
  color: #bf1650;
}

.errorMsg::before {
  display: inline;
  content: "⚠ ";
}

.successMsg {
  color: #16bf2d;
}

.successMsg::before {
  display: inline;
  content: "✅ ";
}

.inputTkn {
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.labelTkn {
  line-height: 1;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

.generate_token_parent {
  display: block;
  position: absolute;
  text-align: center;
  width: 99%;
}

.make_token_container {
  background: #121212;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  max-width: 500px;
  margin: 0 auto;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;

  display: inline-grid;
  margin: 5%;

  grid-template-columns: 1fr;
  grid-template-rows: 90px 90px 90px 80px;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 30px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: space-between;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "token__name"
    "token_symbol"
    "max_supply"
    "submit";
  width: 50%;
  height: 60%;
}

.token__name {
  align-self: start;
  grid-area: token__name;
}
.token_symbol {
  align-self: start;
  grid-area: token_symbol;
}
.max_supply {
  align-self: start;
  grid-area: max_supply;
}
.submit {
  align-self: center;
  grid-area: submit;
}

/*MINT*/
.mint_container {
  color: aliceblue;
  background: #121212;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  width: 400px;
  height: auto;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-55%, -60%);

  max-width: 400px;
  margin: 0 auto;
  margin: 0 auto;
  border-radius: 10px;

  display: inline-grid;

  grid-template-columns: 300px 80px;
  grid-template-rows: 65px 55px 56px 95px 40px 80px;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 10px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: space-between;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "Mint close"
    "balance balance"
    "max_supply max_supply"
    "input_balance input_balance"
    "error_msg error_msg"
    ". submit";
}

.error_msg {
  grid-area: error_msg;
}

.Mint {
  justify-self: left;
  margin-left: 15px;
  grid-area: Mint;
}

.close {
  justify-self: center;
  align-self: end;
  grid-area: close;
}

.max_supply {
  grid-area: max_supply;
  width: fit-content;
  height: fit-content;
}

.input_balance {
  grid-area: input_balance;
  background: #121212;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;

  color: aliceblue;
  align-self: start;
  font-family: cursive;
}

.submit {
  grid-area: submit;
}
